@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.post{
	margin-bottom: 0px;
	text-align: center;
}
footer.footer{
	text-align: center;
	padding: 50px 0px 20px;
	border-top:1px solid #eee;
}
/* Required */
.hidden{
	/* opacity: 0; */
}

.visible{
	opacity: 1;
}
